n8n/nueva-reserva-workflow.json
{
  "name": "Nueva Reserva - Camping Puerto Viejo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nueva-reserva",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh-nueva-001",
      "name": "Webhook Nueva Reserva",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "nueva-reserva"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"first_name\": \"{{ $json.body.first_name }}\",\n  \"last_name\": \"{{ $json.body.last_name }}\",\n  \"email\": \"{{ $json.body.email }}\",\n  \"phone\": \"{{ $json.body.phone }}\",\n  \"fecha_checkin\": \"{{ $json.body.fecha_checkin }}\",\n  \"fecha_checkout\": \"{{ $json.body.fecha_checkout }}\",\n  \"noches\": {{ $json.body.noches }},\n  \"personas\": {{ $json.body.personas }},\n  \"total\": {{ $json.body.total }},\n  \"sinpe\": \"{{ $json.body.sinpe }}\",\n  \"notas\": \"{{ $json.body.notas }}\",\n  \"status\": \"{{ $json.body.status }}\"\n}",
        "options": {}
      },
      "id": "set-nueva-001",
      "name": "Mapear Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_YOUR_GHL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"locationId\": \"REPLACE_WITH_YOUR_GHL_LOCATION_ID\",\n  \"firstName\": \"{{ $json.first_name }}\",\n  \"lastName\": \"{{ $json.last_name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"customFields\": [\n    { \"key\": \"contact.fecha_checkin\", \"value\": \"{{ $json.fecha_checkin }}\" },\n    { \"key\": \"contact.fecha_checkout\", \"value\": \"{{ $json.fecha_checkout }}\" },\n    { \"key\": \"contact.nmero_de_noches\", \"value\": \"{{ $json.noches }}\" },\n    { \"key\": \"contact.nmero_de_personas\", \"value\": \"{{ $json.personas }}\" },\n    { \"key\": \"contact.total_a_pagar_\", \"value\": \"{{ $json.total }}\" },\n    { \"key\": \"contact.notas_de_la_reserva\", \"value\": \"{{ $json.notas }}\" }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-crear-contacto-001",
      "name": "Crear/Actualizar Contacto GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-contacto-ok",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-contacto-ok-001",
      "name": "Contacto Creado OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_YOUR_GHL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"pipelineId\": \"REPLACE_WITH_YOUR_GHL_PIPELINE_ID\",\n  \"locationId\": \"REPLACE_WITH_YOUR_GHL_LOCATION_ID\",\n  \"name\": \"Reserva {{ $('Mapear Variables').item.json.fecha_checkin }} - {{ $('Mapear Variables').item.json.first_name }} {{ $('Mapear Variables').item.json.last_name }}\",\n  \"pipelineStageId\": \"REPLACE_WITH_YOUR_GHL_STAGE_NUEVA_RESERVA\",\n  \"contactId\": \"{{ $json.contact?.id || $json.id }}\",\n  \"monetaryValue\": {{ $('Mapear Variables').item.json.total }},\n  \"status\": \"open\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-crear-oportunidad-001",
      "name": "Crear Oportunidad Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_YOUR_GHL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"type\": \"WhatsApp\",\n  \"contactId\": \"{{ $('Crear/Actualizar Contacto GHL').item.json.contact?.id || $('Crear/Actualizar Contacto GHL').item.json.id }}\",\n  \"message\": \"¡Hola {{ $('Mapear Variables').item.json.first_name }}! 🏕️\\n\\n¡Tu reserva en Camping Puerto Viejo Conchal ha sido confirmada! Aquí van los detalles:\\n\\n📅 Check-in: {{ $('Mapear Variables').item.json.fecha_checkin }}\\n📅 Check-out: {{ $('Mapear Variables').item.json.fecha_checkout }}\\n👥 Personas: {{ $('Mapear Variables').item.json.personas }}\\n💰 Total: ₡{{ $('Mapear Variables').item.json.total }}\\n\\n✅ Ya recibimos tu depósito del 50%. El saldo restante lo podés pagar cuando llegués al camping.\\n\\n📲 Para el pago del saldo restante podés usar SINPE Móvil al número REPLACE_WITH_YOUR_SINPE_NUMERO.\\n\\n¡Nos vemos pronto! Si tenés alguna pregunta, escribinos por acá. 🌴\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-whatsapp-confirmacion-001",
      "name": "WhatsApp Confirmación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "console.log('Error al crear contacto en GHL:', JSON.stringify($input.first().json));\nreturn [{ json: { error: true, message: 'Fallo al crear contacto en GHL', details: $input.first().json } }];"
      },
      "id": "log-error-contacto-001",
      "name": "Log Error Contacto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"success\": true, \"message\": \"Reserva procesada correctamente\" }",
        "options": {}
      },
      "id": "respuesta-ok-001",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 200]
    }
  ],
  "connections": {
    "Webhook Nueva Reserva": {
      "main": [
        [
          {
            "node": "Mapear Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Variables": {
      "main": [
        [
          {
            "node": "Crear/Actualizar Contacto GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear/Actualizar Contacto GHL": {
      "main": [
        [
          {
            "node": "Contacto Creado OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contacto Creado OK?": {
      "main": [
        [
          {
            "node": "Crear Oportunidad Pipeline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Oportunidad Pipeline": {
      "main": [
        [
          {
            "node": "WhatsApp Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Confirmación": {
      "main": [
        [
          {
            "node": "Respuesta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-19T00:00:00.000Z",
  "versionId": "1"
}
