n8n/reserva-cancelada-workflow.json
{
  "name": "Reserva Cancelada - Camping Puerto Viejo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reserva-cancelada",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh-cancelada-001",
      "name": "Webhook Reserva Cancelada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "reserva-cancelada"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/?locationId=REPLACE_WITH_YOUR_GHL_LOCATION_ID&email={{ encodeURIComponent($json.body.email) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_YOUR_GHL_API_KEY"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-buscar-contacto-canc-001",
      "name": "Buscar Contacto por Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-contacto-found-canc",
              "leftValue": "={{ $json.contacts?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-contacto-found-canc-001",
      "name": "Contacto Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/opportunities/search?location_id=REPLACE_WITH_YOUR_GHL_LOCATION_ID&pipeline_id=REPLACE_WITH_YOUR_GHL_PIPELINE_ID&contact_id={{ $('Buscar Contacto por Email').item.json.contacts[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_YOUR_GHL_API_KEY"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-buscar-oportunidad-canc-001",
      "name": "Buscar Oportunidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $json.opportunities[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_YOUR_GHL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"pipelineStageId\": \"REPLACE_WITH_YOUR_GHL_STAGE_CANCELADA\",\n  \"status\": \"lost\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-mover-cancelada-001",
      "name": "Mover a Cancelada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_YOUR_GHL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"type\": \"WhatsApp\",\n  \"contactId\": \"{{ $('Buscar Contacto por Email').item.json.contacts[0].id }}\",\n  \"message\": \"Hola {{ $('Buscar Contacto por Email').item.json.contacts[0].firstName }},\\n\\nTe informamos que tu reserva en Camping Puerto Viejo Conchal ha sido cancelada. 😔\\n\\nTu depósito será devuelto en las próximas 24 horas al mismo método de pago que usaste.\\n\\nSi fue un error o querés hacer una nueva reserva en el futuro, no dudés en escribirnos. ¡Siempre serás bienvenido/a! 🌴\\n\\nSaludos,\\nEquipo Camping Puerto Viejo Conchal\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-whatsapp-cancelacion-001",
      "name": "WhatsApp Cancelación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Buscar Contacto por Email').item.json.contacts[0].email }}",
        "subject": "=Cancelación de reserva - Camping Puerto Viejo Conchal",
        "emailType": "html",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n  <div style=\"background: linear-gradient(135deg, #2d5016 0%, #4a7c23 100%); padding: 30px 20px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 24px;\">🏕️ Camping Puerto Viejo Conchal</h1>\n  </div>\n  <div style=\"padding: 30px 20px; background-color: #ffffff;\">\n    <h2 style=\"color: #2d5016; margin-top: 0;\">Hola {{ $('Buscar Contacto por Email').item.json.contacts[0].firstName }},</h2>\n    <p style=\"color: #333; font-size: 16px; line-height: 1.6;\">Te informamos que tu reserva en <strong>Camping Puerto Viejo Conchal</strong> ha sido cancelada. 😔</p>\n    <div style=\"background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 20px; border-radius: 4px; margin: 20px 0;\">\n      <p style=\"color: #856404; font-size: 15px; margin: 0;\">💰 Tu depósito será devuelto en las próximas <strong>24 horas</strong> al mismo método de pago que usaste.</p>\n    </div>\n    <p style=\"color: #333; font-size: 16px; line-height: 1.6;\">Si fue un error o querés hacer una nueva reserva en el futuro, no dudés en escribirnos. ¡Siempre serás bienvenido/a! 🌴</p>\n    <p style=\"color: #333; font-size: 16px; line-height: 1.6;\">Saludos,<br><strong>Equipo Camping Puerto Viejo Conchal</strong></p>\n  </div>\n  <div style=\"background-color: #f5f5f5; padding: 20px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #888; font-size: 13px; margin: 0;\">Camping Puerto Viejo Conchal · Guanacaste, Costa Rica 🇨🇷</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "gmail-cancelacion-001",
      "name": "Gmail Cancelación",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log('Error: Contacto no encontrado para cancelar reserva:', JSON.stringify($input.first().json));\nreturn [{ json: { error: true, message: 'Contacto no encontrado en GHL' } }];"
      },
      "id": "log-error-canc-001",
      "name": "Log Error No Encontrado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"success\": true, \"message\": \"Reserva marcada como cancelada\" }",
        "options": {}
      },
      "id": "respuesta-ok-canc-001",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 200]
    }
  ],
  "connections": {
    "Webhook Reserva Cancelada": {
      "main": [
        [
          {
            "node": "Buscar Contacto por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contacto por Email": {
      "main": [
        [
          {
            "node": "Contacto Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contacto Encontrado?": {
      "main": [
        [
          {
            "node": "Buscar Oportunidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error No Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Oportunidad": {
      "main": [
        [
          {
            "node": "Mover a Cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mover a Cancelada": {
      "main": [
        [
          {
            "node": "WhatsApp Cancelación",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail Cancelación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Cancelación": {
      "main": [
        [
          {
            "node": "Respuesta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Cancelación": {
      "main": [
        [
          {
            "node": "Respuesta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-20T00:00:00.000Z",
  "versionId": "2"
}
